@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  /* background-color: #b0e9ff */
  color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  z-index: 10;
}

nav h1 {
  font-size: 1.5rem;
}

.search_bar {
  display: flex;
  gap: 10px;
}

.search_bar input {
  padding: 5px;
  border: 2px solid #00b7ff;
  border-radius: 5px;
}

.btn {
  width: fit-content;
  border: 2px solid #00b7ff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  transition: background 0.5s;
}

.btn:hover {
  background: #00b7ff;
  color: #fff;
}

main {
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: linear-gradient(
    to right top,
    #051937,
    #224062,
    #416c8f,
    #629cbd,
    #87ceeb
  );
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  flex: 1;
}

.weather h1 {
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.info_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 50px;
  padding: 0 20px;
  width: 100%;
}

.weather_info {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
